<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    {{>header}}
    <img
        src="https://lh3.googleusercontent.com/proxy/VqjeCS6DxAEWSwgva0zrV1m3whQzSTLO2p5FMKCxowEhs23ahQ7iE_mifYo89cJmDhzW03oBeHNXD2HFKOmzNOcsExdFxYMukAMBntkQ5nxO2vddCMUMGJl9taXyHfpxZbCFW7CvSCNCh57pLvoiOKh4TImGeqdFgGyQpAUoKLXCXxLit2Wadx6-Qwqc4haNfJFqDSJIAoW8-Qm6erKycK2-yTigHpkVzsE1_DxkdGYYRtE7aPpk7Pz7UaRbf0vWC2LiSTEGiyaRwaZ6yRDr6mOJsROH3QQQ9a4OEYykLCacTx0wsQuPHZ4k" />
    {{>footer}}
</body>

</html>