<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Help</title>
    <link rel="icon" href="./img/weather.png" />
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p class="Help">{{helpText}}</p>
        <p class="account">
            Hana 180-910263-31107<br>
            Feed me please, I am a poor developer :(
        </p>
    </div>
    {{>footer}}
</body>

</html>